* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-content: center;
  max-width: 120rem;
  height: 100vh;
}
.btn {
  align-self: center;
  padding: 1rem 1.6rem;
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(139, 87, 87);
}
.btn:hover {
  background-color: #b62b2b;
}
